FLASK_SECRET_KEY=replace-with-a-long-random-secret
FLASK_ENVIRONMENT=development
FLASK_CONTACT_EMAIL=ah0349900@gmail.com
FLASK_BRAND_NAME=Codac with Ahmed
FLASK_SITE_URL=http://127.0.0.1:5000
FLASK_YOUTUBE_HANDLE=@A7med-code
FLASK_YOUTUBE_URL=https://www.youtube.com/channel/UCT0xlDQpWRaoBcnQccRV7HA
FLASK_GITHUB_URL=https://github.com/Ahmedouf159

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

SECRET_OFFER_CODE=CODAC10
SECRET_OFFER_NAME=Starter Website Package
SECRET_OFFER_PRICE=$25
